{% extends "layout.njk" %}

{% block content %}

    <section>
        <div class="banner">
            <div class="title">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>
            </div>
            <div class="img">
                <img src="/chef.png" alt="chef">
            </div>
        </div>
    </section>

    <div class="tops">
        <p>Mais acessadas</p>
    </div>

    <section class=pratos>

        <div class="prato">
            <div class="prato_image">
                <img src="/burger.png" alt="BURGER">
            </div>
            <div class="titulo">
                <p>Triplo bacon burger</p>
                <p class="autor">por João Relato</p>
            </div>
        </div>

        <div class="prato">
            <div class="prato_image">
                <img src="/pizza.png" alt="BURGER">
            </div>
            <div class="titulo">
                <p>Pizza 4 estações</p>
                <p class="autor">por Fabiano Melo</p>
            </div>
        </div>

        <div class="prato">
            <div class="prato_image">
                <img src="/espaguete.png" alt="BURGER">
            </div>
            <div class="titulo">
                <p>Espaguete ao alho</p>
                <p class="autor">por Júlia Kinoto</p>
            </div>
        </div>

        <div class="prato">
            <div class="prato_image">
                <img src="/lasanha.png" alt="BURGER">
            </div>
            <div class="titulo">
                <p>Lasanha mc'ene cheese</p>
                <p class="autor">por Juliano Vieira</p>
            </div>
        </div>

        <div class="prato">
            <div class="prato_image">
                <img src="/doce.png" alt="BURGER">
            </div>
            <div class="titulo">
                <p>Docinhos pão-do-céu</p>
                <p class="autor">por Ricardo Golveia</p>
            </div>
        </div>

        <div class="prato">
            <div class="prato_image">
                <img src="/asinhas.png" alt="BURGER">
            </div>
            <div class="titulo">
                <p>Asinhas de frango ao barbecue</p>
                <p class="autor">por Vania Steroski</p>
            </div>
        </div>
    </section>
{% endblock %}



   